/* @font-face {
  font-family: 'BebasNeue-Regular';
  font-style: normal;
  font-weight: 400;
  src: local('BebasNeue-Regular'), url('./assets/BebasNeue-Regular.otf') format("otf");
}

* {
  font-family: 'BebasNeue-Regular', sans-serif;
} */
