#root {
	max-width: 1280px;
	margin: 0 auto;
	padding: 2rem;
	text-align: center;
}

.card {
	padding: 2em;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  article {
    /* height: 400px; */
    @media screen and (min-width: 1280px) {
      max-width: 33%;
    }

    @media screen and (min-width: 880px) and (max-width: 1279px) {
      max-width: 50%;
    }

    img {
    }
  }
}